<div class="row">
  <div class="col-xs-12">
    <h4 class="slide-title text-center">{{pagecontent.title}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <p ng-repeat="paragraph in pagecontent.paragraph">{{paragraph.content}}</p>
    <div class="row">
      <div class="col-sm-6 text-center" style="padding-top:10px;" ng-repeat="sublink in sublinks">
        <a href={{sublink.href}}>
          <button class="btn btn-default">{{sublink.name}}</button>
        </a>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <img class="img-rounded slider-image img-responsive" src="{{pagecontent.image}}" />
  </div>
</div>